# Ambiente virtual
.venv/

# Build do executável
dist/
build/
*.spec

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Arquivos exportados
exports/*.xlsx
interface/exports/*.xlsx
interface/*.json